.filterDiv{
    width: 100%;
    background-color: #3c096c;
    display: flex;
    justify-content: center;
    flex-direction: row;

}

.titlesDiv{
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: white;
    margin: 0 auto;
}

.title{
    padding: 10px;
    cursor: pointer;
    background-color: #7b2cbf;
    margin: 10px;
    font-size: 12px;
    border-radius: 8px;
    font-family: sans-serif;
}

.active{
    background-color: white;
    color: #7b2cbf;
    padding: 10px;
    cursor: pointer;
    margin: 10px;
    font-size: 12px;
    border-radius: 8px;
}