.main{
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 91%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 91%, 0% 100%);
    width: 100%;
    min-height: 200px;
    background-color: #adb5bd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    background-color: #212529;
    color: #FFFFFF;
    border: none;
    border-radius: 3px;
    padding: 7px;
}

